* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%);
  background-image: url(../../img/texts/maria-orlova-bU8TeXhsPcY-unsplash.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.text-cont {
  width: 80%;
  margin: auto;
  text-align: center;
  margin: 8em auto 10em auto;
  background-color: rgba(255, 255, 255, 0.432);
  padding: 2em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  animation: appear 2s forwards;
}

.text-cont p {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2em;
  line-height: 2;
  color: #000;
  font-size: 18px;
}

@keyframes appear {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.chat-cont {
  width: 90%;
  margin: auto;
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.chat-cont div{
    margin-bottom: 1em;
    position: relative;
}

.chat-cont .left {
  align-self: flex-start;
  width: 80%;
  background-color: #fff;
  padding: 1em ;
  border-radius: 12px;
}
.chat-cont .rigth {
  align-self: flex-end;
  width: 80%;
  background-color: rgb(105, 159, 105);
  padding: 1em;
  border-radius: 12px;
}

/* .chat-cont .left::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: -2px;
    background-color: #fff;
    transform: rotate(45deg);
} */
