*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}



.text-cont{
  width: 450px;
  margin:auto;
  text-align: center;
  padding: 6em 0 4em 0;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ),
  url(../../img/texts/perfeccion.jpg);
  background-size: cover;
  background-position: center;
}



.text-cont p{
  width: 80%;
  margin:auto;
  text-align: center;
margin-top: 2em;
  line-height: 2;
  color: #fff;
  font-size: 18px;
  animation: appear 2s forwards;
 
}
.text-cont h1{
  margin-bottom: 1em;
  animation: appear 2s forwards;
  color: #fff;
}

@keyframes appear{
0%{
transform: translateY(150px);
opacity: 0;
}
100%{
  transform: translateY(0);
  opacity: 1;
}
}

@media screen and (max-width: 600px) {
   
 
  .text-cont{
      width: 100%;
  }

}
@media screen and (max-width: 600px) {
   
 
  .text-cont{
      width: 100%;
  }

}